#about-us {
    display: flex;
    flex-direction: row;
    margin: 32px 24px;
    justify-content: space-between;

    img {
        margin: 40px;
    }

    div { 
        display: flex;
        flex-direction: column;
        gap: 24px;
    }    
}