.blogs {
    display: flex;
    flex-wrap: wrap;
    margin: 32px;
    justify-content: center;
}
.blog-page{
    display: flex;
    flex-direction: row;
}
.blog-article{ 
    box-shadow: 0px 4px 9px #898989;
    border-radius: 16px;
    width: 392px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: all 0.5s ease;

    &:hover {
        transform: scale(1.05,1.05);
        transition: all 1s ease;
    }

    img {
        width: 100%;
        padding: 16px;
    }

    p {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 131%;
    }

    h2 {
        text-align: center;
    }
}

.blog-main{ 
    box-shadow: 0px 4px 9px #898989;
    border-radius: 16px;
    margin: 58px 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
    }
    h2{
        margin: 16px 0px;
    }
    h3{
        align-items: center;
        text-align: center;
    }
}

.button-container {
    display: flex;
    align-items: center;
    margin: 12px 0px;
    justify-content: center;
}

