@import "../basics/colors.scss";

@mixin button-style($width, $height, $border, $bg-color, $text-color) {
    width: $width;
    height: $height;
    border: $border;
    border-radius: calc($height / 2);
    background-color: $bg-color;
    color: $text-color;
    margin: 0 8px;
    cursor: pointer;
  
    &:hover {
      background-color: darken($bg-color, 10%);
    }
  
    &:active {
      font-size: 15px;
    }
}
  
.button-primary {
    @include button-style(92px, 48px, none, $turquoise, white);
}
  
.button-secondary {
    @include button-style(93px, 48px, $turquoise 2px solid, white, $turquoise);
}

.title-section {
    background-color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;

    h1 {
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        line-height: 70px;
    }
}
